<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="vm.sidenavOpen">
	<md-toolbar>
		<h1 class="md-toolbar-tools">Add a Classified</h1>
	</md-toolbar>

	<md-content layout-padding>
		<form>
		    <md-input-container class="md-block">
		    	<label>Title</label>
		    	<input type="text" ng-model="newClassified.title" id="title" md-autofocus>
		    </md-input-container>
		    <md-input-container class="md-block">
		    	<label>Price</label>
		    	<input type="text" ng-model="newClassified.price" id="price">
		    </md-input-container>
		    <md-input-container class="md-block">
		    	<label>Description</label>
		    	<textarea  type="text" ng-model="newClassified.description" id="description"></textarea>
		    </md-input-container>
		    <md-input-container class="md-block">
		    	<label>Image Link</label>
		    	<input type="text" ng-model="newClassified.image" id="image">
		    </md-input-container>
		    <md-button ng-if="!editing" class="md-primary" ng-click="vm.saveClassified(newClassified)">Save</md-button>
		    <md-button ng-if="editing" ng-click="vm.saveEdit()" class="md-primary">Save Edit</md-button>
		    <md-button ng-click="vm.closeSidebar()" class="md-warn">Cancel</md-button>
		</form>
	</md-content>
</md-sidenav>